

<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <app-sections>
        <div class="container">
          <div class="card card-profile shadow" style="padding: 5%">
            <div class="col-sm-12">
              <form
                [formGroup]="checkoutForm"
                (ngSubmit)="onSubmit(checkoutForm.value)"
              >
                <div class="form-group">
                  <div class="d-flex">
                    <h3 class="mr-auto p-2">
                      <span class="badge badge-primary">
                        What's happening?</span
                      >
                    </h3>
                    <div class="p-2">
                      <button
                        class="recorder btn"
                        [ngClass]="
                          service.isStoppedSpeechRecog
                            ? 'btn-info'
                            : 'btn-danger'
                        "
                        (click)="recoverVoice()"
                      >
                        <i class="fa fa-microphone"></i>
                      </button>
                    </div>
                  </div>
                  <textarea
                    class="form-control"
                    rows="3"
                    formControlName="text"
                    style="resize: none"
                    [(ngModel)]="service.text"
                  ></textarea>
                </div>
                <div class="form-group">
                  <!-- Button First level -->
                  <div class="text-center" style="margin: 10px">
                    <button
                      *ngFor="let incident of typeNotif; let i = index"
                      type="button"
                      style="margin-bottom: 5px"
                      class="btn btn-warning"
                      (click)="onClickTypeNotif($event, i)"
                      [ngClass]="
                        isTypeNotifSelected(i, 1) ? 'disable' : 'enable'
                      "
                    >
                      <i [ngClass]="getFaticon(0, i)"> </i>
                      {{ incident }}
                    </button>
                  </div>
                  <!-- button second level -->
                  <div class="text-center" style="margin: 10px">
                    <button
                      *ngFor="let incidentTwo of typeNotifSecond; let i = index"
                      type="button"
                      class="btn btn-info"
                      style="margin-bottom: 5px"
                      (click)="onClickTypeNotifTwo($event, i)"
                      [ngClass]="
                        isTypeNotifSelected(i, 2) ? 'disable' : 'enable'
                      "
                    >
                      {{ incidentTwo }}
                    </button>
                  </div>
                </div>
                <!-- BUTTON NOTIFY-->
                <div class="d-flex flex-column">
                  <button
                    type="submit"
                    class="btn btn-success"
                    (click)="open(mymodal)"
                    [disabled]="hasAtLeastOne()"
                  >
                    Notify alert
                  </button>
                </div>
                <p *ngIf="!this.isLocationActive" class="font-italic" style="color: red;">* Please activate geolocation</p>

                <!-- MODAL -->
                <ng-template #mymodal let-modal>
                  <div class="modal-header">
                    <div class="modal-title">
                      <h3>
                        <span class="badge badge-primary">
                          Please confirm the alert
                        </span>
                      </h3>
                    </div>

                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <div *ngIf="service.text">
                      <h4>
                        <span class="badge font-weight-bold"
                          >What's happenning ?</span
                        >
                      </h4>
                      <pem class="font-italic" style="color: blueviolet">{{
                        service.text
                      }}</pem>
                    </div>

                    <div *ngIf="nameTypeOneSelected" class="pt-2">
                      <h4>
                        <span class="badge font-weight-bold"
                          >Type of alert:</span
                        >
                      </h4>
                      <div class="d-flex">
                        <p class="p-2 font-italic" style="color: orangered">
                          {{ nameTypeOneSelected }}
                        </p>
                        <p
                          class="p-2 font-italic"
                          style="color: blue"
                          *ngIf="nameTypeTwoSelected"
                        >
                          {{ nameTypeTwoSelected }}
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      (click)="modal.close('KO')"
                    >
                      Cancel
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-success"
                      (click)="modal.dismiss('OK')"
                    >
                      Valid
                    </button>
                  </div>
                  
                </ng-template> 
              </form>
            </div>
          </div>
        </div>
      </app-sections>
    </section>
  </div>
</main>
